.eye-color label {
    font-weight: light; /* Make the label text bold */
    margin-bottom: 10px; /* Add some space below the label */
    margin-left: 20px;  /* Add some space to the left of the label */
  }
  
  .eye-color .col {
    padding: 20px; /* Add padding between columns */
  }
  
  .eye-color .row {
    padding: 10px; /* Add padding between columns */
  }
  
  .eye-color .img-thumbnail {
    width: 130px; /* Fixed width for the thumbnail images */
    height: 110px; /* Fixed height for the thumbnail images */
    border: 2px solid transparent; /* Default border color */
    border-radius: 50%; /* Make the thumbnails circular */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: border-color 0.3s ease; /* Add transition effect to border color */
  }
  
  .eye-color .img-thumbnail:hover,
  .eye-color .img-thumbnail.selected {
    border-color: #007bff; /* Change border color on hover or when selected */
  }
  
  
  .form-label {
    font-weight: 500; /* Make the label text normal */
    display: block; /* Forces labels onto their own row */
    margin-bottom: 5px; /* Add some space below each label */
    margin-top: 20px;
  }
  
  .form-group {
    margin-top: 20px; /* Add margin above the form group */
    margin-bottom: 50px; /* Add margin below the form group */
    margin-left: 30px;
  }
  
  .toggle-button-group .btn {
    border-radius: 20px; /* This makes the corners rounded */
    border: 1px solid #01605f; /* This sets the border color */
    background-color: #09afa9; /* This is the default background color */
    color: #495057; /* This sets the text color */
    text-align: center; /* Aligns text to the center */
    padding: .375rem .75rem; /* Adjusts the padding inside the buttons */
    font-size: 1rem; /* Sets the font size */
  }
  
  .toggle-button-group .btn.active,
  .toggle-button-group .btn:active {
      background-color: #083f7b; /* Active background color */
      color: #fff; /* Active text color */
      border-color: #007bff; /* Active border color */
  }