.signin-page {
  display: flex;
  height: 100vh;
  margin: 0px;
}

.signin-page h1,
.signin-page p,
.signin-page button {
  margin-bottom: 1rem; /* Spacing between elements */
}

.signin-page a {
  display: block; /* Make the link a block to allow for better click area */
  color: #007bff;
  text-decoration: none;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Apply text-align center to all text within the form for explicit alignment */
.signin-page .signin-form h1,
.signin-page .signin-form p,
.signin-page .signin-form a {
  text-align: center;
}

.signin-page .signin-image {
  flex: 4;
  background: url("../photos/login.jpeg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  color: white;
  padding-top: 16%; /* Add padding to the top to push content down */
  height: 100%;
  position: relative;
}

.signin-page .signin-image h1 {
  position: absolute;
  top: 5%; /* Distance from the top */
}

.signin-page .signin-image p {
  position: absolute;
  bottom: 10%; /* Distance from the bottom */
  margin-bottom: 1rem; /* Increase bottom margin to push 'Want to create an account?' down */
}

.signin-page .signin-image button {
  position: absolute;
  bottom: 2%; /* Distance from the bottom */
  padding: 0.7rem 2rem;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
  color: white;
  border: none;
  border-radius: 20px; /* Rounded corners */
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.signin-page .signin-image button:hover {
  background: rgba(255, 255, 255, 0.5); /* Slightly more opaque on hover */
  transform: scale(1.05); /* Slight scale-up effect on hover */
}

.signin-page .signin-form {
  flex: 6; /* Adjusted from 60% for better control */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-page .signin-form h1 {
  margin-bottom: 2rem; /* Adjust bottom margin as needed */
  color: #0752a2;
  text-align: center;
}

.signin-page form {
  width: 100%;
  max-width: 400px; /* Set a max-width for the form */
  padding: 2rem;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add some shadow to lift the form */
  align-items: center; /* Center-align the flex items */
  flex-direction: column; /* Stack form elements vertically */
  text-align: center; /* Center-align text */
}

.signin-page input {
  border-radius: 5px;
}

.signin-page .email-input input,
.signin-page .password-input input {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  background-color: #77cfd1;
}

.signin-page .alert-danger {
  background-color: #f8d7da; /* Light red */
  color: #721c24; /* Dark red */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #f5c6cb; /* Light red border */
  padding: 10px; /* Inner spacing */
  margin-bottom: 20px; /* Space below the alert */
  text-align: center; /* Center the text */
  font-weight: bold; /* Make the font bold */
  font-size: 12px;
}

.signin-page button[type="submit"] {
  padding: 1rem;
  background: #0752a2;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10%;
}
.signin-page button[type="submit"]:hover {
  background: #0a6cd6;
}

.signin-page input::placeholder,
textarea::placeholder {
  color: black;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .signin-page {
    flex-direction: column;
  }

  .signin-page .signin-image,
  .signin-page .signin-form {
    flex: none;
    width: 60%;
    padding: 20%;
  }

  .signin-page .signin-form form {
    padding: 0;
  }
}
