.home-page {
  max-width: 90%;
  margin: 0 auto;
}

.home-page .hp-row {
  display: flex;
  justify-content: center; /* Aligns children (images) on the main axis (horizontally) */
  align-items: center; /* Aligns children (images) on the cross axis (vertically) */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
}

.home-page .image-item {
  text-align: center; /* Centers the image within the container */
  padding-top: 15px; /* Adds some space on top of the image */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.home-page .hp-col {
  position: relative;
  width: 100%;
}

.home-page .hp-img-fluid {
  max-width: 100%;
  height: 500px;
}

.home-page .hp-img-auto {
  height: auto;
}

.home-page .hp-text-center {
  text-align: center;
}

.home-page .hp-title {
  color: #000;
  letter-spacing: -0.8px;
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  display: block;
  text-align: center;
  margin: 25px;
  padding: 0 0 1%;
}

.home-page .hp-tree-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: flex-end;
}

.home-page .hp-tree-overlay-text,
.home-page .hp-create-button {
  position: absolute; /* Absolutely position both elements */
  top: 50%; /* Start at 50% from the top */
  left: 50%; /* Start at 50% from the left */
  transform: translate(-50%, -50%);
  width: max-content; /* This ensures the width is only as wide as the content inside */
}

.home-page .hp-tree-overlay-text {
  display: flex;
  margin-top: -50px; /* Add some space between the button and the text */
  color: #fff;
  font-size: 64px;
  font-weight: 1111;
  line-height: 10%;
  letter-spacing: -0.8px;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-page .hp-create-button {
  display: flex;
  margin-top: 50px;
  background: #014a8a;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
  overflow: hidden;
  align-self: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-page .hp-create-button:hover {
  background-color: #0056b3;
}

.home-page .hp-create-button:active {
  background-color: #004080;
}

.home-page .hp-create-text {
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.home-page .hp-featured-title {
  text-align: center;
  margin: 80px;
  color: #000;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  flex-shrink: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  display: inline-block;
}

.home-page .hp-featured-box {
  display: flex;
  flex: 0 0 70%;
  max-width: 70%;
  align-items: center;
  box-sizing: border-box;
  background: #fafaf5;
  border: 2px solid #1a6598;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.home-page .hp-featured-image {
  flex: 0 0 10%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: #d3d3d3 40% / cover no-repeat;
  flex-shrink: 0;
  height: 200px;
}

.home-page .hp-featured-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Provide some padding around the content */
  text-align: center;
  gap: 10px; /* Space between the text and button */
  height: 100%; /* Make the container fill the height of the parent */
}

.home-page .hp-featured-name {
  color: #000;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
}

.home-page .hp-featured-date {
  color: #1a6598;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: inline-block;
  margin-top: -10px;
  margin-left: 0;
}

.home-page .hp-featured-button {
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  background: #014a8a;
  border-radius: 10px;
  flex-shrink: 0;
  width: 121px;
  height: 37px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.home-page .hp-featured-button:hover {
  background-color: #0056b3;
}

.home-page .hp-featured-button:active {
  background-color: #004080;
}

.home-page .hp-description-container {
  flex: 0 0 85%;
  max-width: 85%;
}

.home-page .hp-description {
  color: #000;
  text-align: center;
  letter-spacing: -0.74px;
  font-size: 37px;
  line-height: 120%;
  display: block;
  margin: 60px auto;
}



.home-page .story-block {
  display: flex;
  width: 1000px;
  margin: 20px;
  margin-left: 100px;
  border: 1px solid #014a8a;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.home-page .story-image {
  width: 20%;
}

.home-page .story-details {
  width: 80%;
  padding: 20px;
  background-color: #fafaf5;
  display: flex;
  justify-content: space-between;
}

.home-page .story-title-date {
  width: 100%;
}

.home-page .story-title {
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.home-page .story-date {
  color: #014a8a;
  font-size: 20px;
}

.home-page #fivestars{
  margin-top: 80px;
}