.library-page h1 {
  font-size: 64px;
  margin-bottom: 0px;
}

.library-page h3 {
  font-size: 23px;
  margin-right: 200px;
  text-align: center;
  flex-direction: bottom;
  margin-bottom: 0px;
}

.library-page .hr-style {
  width: 80%;
  border-top: 1.5px solid #77cfd1;
  margin-left: 100px;
  height: 10px;
}

.library-page .story-block {
  display: flex;
  width: 750px;
  margin: 20px;
  margin-left: 100px;
  border: 1px solid #014a8a;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.library-page .story-image {
  width: 20%;
}

.library-page .story-details {
  width: 80%;
  padding: 20px;
  background-color: #fafaf5;
  display: flex;
  justify-content: space-between;
}

.library-page .story-title-date {
  width: 100%;
}

.library-page .story-title {
  color: black;
  font-weight: bold;
}

.library-page .story-date {
  color: #014a8a;
}

.library-page .story-private {
  background-color: #014a8a;
  color: white;
  padding: 5px;
  border-radius: 5px;
  height: 25%;
  width: 15%;
  text-align: center;
  justify-content: center;
}

.library-page .storyh1h3 {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.library-page .storyh3 {
  display: flex;
  margin-left: 200px;
  align-items: flex-end;
  padding-bottom: 7px;
}

.library-page .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  flex-direction: column;
}

.library-page .no-stories-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.library-page .no-stories-found div {
  margin: 0;
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 20px;
}

.library-page .no-stories-found button {
  display: inline-block;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #77cfd1;
  border-color: #77cfd1;
  cursor: pointer;
  color: black;
}

.library-page .no-stories-found button:hover {
  opacity: 0.9;
}

.library-page .no-stories-found button:focus {
  outline: none;
}
