story-container body {
    background-color: white;
    color: black;
    font-family: 'Newsreader', serif;
    font-size: 25px;
  }
  
  .story-container {
    padding: 0 20px; 
    padding-bottom: 50px;;
  }
  
  .story-container  .story-headline {
    font-weight: bold;
    padding: 10px 20px;
    margin: auto;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 900px; 
    margin: auto; 
    display: block;
  }
  
  .story-container  .story-block {
    margin-bottom: 20px; 
  }
  
  .story-container .story-text, .story-photo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px; 
    margin: auto;
    display: block;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 30px;
  }
  
  .story-container  .story-photo {
    height: auto; 
  }