
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    justify-content: flex-start; /* Align items to the top */
    width: 100%; /* Ensure the container takes the full width */
    padding: 20px; /* Add some padding around the container */
    background-color: #ffffff;
  }
  
  .page-container h5{
    margin-top: 40px;
  }
  
  
  .page-title {
    width: 100%; /* Make sure the header spans the full width of its container */
    margin: 0; /* Remove default margin */
    padding-bottom: 10px; /* Add some padding below the text */
    border-bottom: 2px solid #55b4e0; /* Add a line below the header */
    text-align: left; /* Align the text to the left */
    font-weight: 500;
  }
  
  .profile-subtitle {
    font-size: 18px; /* Adjust the size as needed for 'profiles' */
    margin-left: 10px; /* Or adjust as needed for spacing */
    vertical-align: middle; /* To align with the larger text if necessary */
    font-weight: 300; /* This will make the font not bold */
  }
  
  .profile-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 20px; /* Space between child profile cards */
    justify-content: left; /* Center the child cards horizontally */
    padding: 20px; /* Add some padding inside the container */
    width: calc(100% - 40px); /* Adjust width based on padding */
    margin-top: 20px; /* Space between the header and the cards */
  }
  
  .account-information h3 {
    font-weight: 530;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .account-information .list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
  }
  
  .account-information .list-group-item strong {
    text-transform: uppercase;
    font-weight: 550;
    color: #121212;
    margin-right: 1rem;
  }
  /* Additional styles as previously defined */
  
  .btn-custom {
    background-color: #0658af; /* Bootstrap primary blue */
    border-color: #0658af; /* Bootstrap primary blue */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Slight rounding of corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    text-decoration: none; /* Remove underline */
    margin-top: 60px;
  }
  
  .btn-custom:hover,
  .btn-custom:focus {
    background-color: #024790; /* Darker blue on hover/focus */
    border-color: #024790; /* Darker blue on hover/focus */
  }
  
  .btn-custom:active {
    background-color: #002f61; /* Even darker blue when active/clicked */
    border-color: #002f61; /* Even darker blue when active/clicked */
  }