@import "https://fonts.googleapis.com/css?family=Newsreader:500&display=swap";
@import "https://fonts.googleapis.com/css?family=Inter:400&display=swap";

.header {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 2% 3% 2% 2.5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
}

.header-title {
  color: #000;
  letter-spacing: -0.32px;
  font-family: Newsreader;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  gap: 7px; 
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* SELECTED PAGE BUTTON */
.button-selected {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #014a8a;
  flex-shrink: 0;
  width: 104px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* NON-SELECTED PAGE BUTTON */
.button-navbar {
  box-sizing: border-box;
  background: #fff;
  flex-shrink: 0;
  width: 104px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-navbar {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: inline-block;
  text-decoration: none;
}

/* GET STARTED BUTTON */
.button-get-started {
  box-sizing: border-box;
  background: #014a8a;
  flex-shrink: 0;
  width: 144px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button-get-started:hover {
  background-color: #0056b3; /* Darker shade on hover for feedback */
}

.button-get-started:active {
  background-color: #004080; /* Even darker shade when the button is clicked */
}

.text-white {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: inline-block;
  text-decoration: none;
}

/* LOG OUT BUTTON */
.button-logout {
  box-sizing: border-box;
  background: rgb(223, 45, 45);
  flex-shrink: 0;
  width: 103px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button-logout:hover {
  background-color: rgb(202, 28, 28); 
}

.button-logout:active {
  background-color: rgb(208, 33, 33); 
}