.landing-page {
    background-image: url('/landingpage_background.jpeg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
}