blinker==1.7.0
click==8.1.7
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==3.0.3
gunicorn==21.2.0
itsdangerous==2.1.2
Jinja2==3.0.3
MarkupSafe==2.1.5
packaging==23.2
python-dotenv==1.0.1
setuptools==68.2.2
SQLAlchemy==1.4.51
Flask-RESTx==1.3.0
Werkzeug==2.1.0
openai==1.12.0